<!doctype html>
<html lang="en">

<head>
    <title>Side Bar - PEA | กระแสเงินสด</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Required meta tags -->
    <meta charset="utf_8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta name="description"
        content="PEA INNOVATION HUB ร่วมกับ กองการเงินจัดทำ Smart Dashboard แสดงกระแสเงินสดของ PEA">
    <meta name="author" content="Wittawat aka Joe-Legolus">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- index.html CSS -->
    <link rel="stylesheet" href="css/side-bar.css">
    <link rel="stylesheet" href="css/fonts.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-8"></div>
            <div class="col-3 px-0">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-10">
                                <button class="openbtn w-100" onclick="openSideBar()">Cash Flow
                                    Sensitivity</button>
                            </div>
                            <div class="col-2 pl-0 ml-0">
                                <button class="openvbtn w-100" onclick="openSideBar()">&and;</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <!-- Collapse Sidebar  -->
                                <div id="mySidebar" class="sidebar">
                                    <a href="javascript:void(0)" class="closebtn" onclick="closeSideBar()">×</a>
                                    <div class="tab pt-5 px-2">
                                        <button href="javascript:void(0)" class="tablinks active"
                                            onclick="openTab(event, 'income')">รายรับผู้ใช้ไฟ</button>
                                        <button class="tablinks"
                                            onclick="openTab(event, 'solution')">แนวทางแก้ไข</button>
                                        <button class="tablinks" onclick="openTab(event, 'measure')">มาตรการ</button>
                                    </div>
                                    <div id="income" class="tabcontent px-4 py-4 active">
                                        <div class="row">
                                            <div class="col-12">
                                                <h3 id="การเลื่อนชำระค่าไฟ">การเลื่อนชำระค่าไฟ</h3>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <h5 id="ผู้ใช้ไฟฟ้าทั้งหมด">ผู้ใช้ไฟฟ้าทั้งหมด</h5>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <p id="เลื่อนชำระเงิน">เลื่อนชำระเงิน (%) &nbsp;</p>
                                            </div>
                                            <div class="col-6">
                                                <input class="#" type="text" id="inputเลื่อนชำระเงิน" name="#">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <p id="รอบบิลที่คาดว่าไม่ชำระเงิน">รอบบิลที่คาดว่าไม่ชำระเงิน</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <p id="เริ่มต้นเดือน">เริ่มต้นเดือน &nbsp;</p>
                                                <input class="#" type="text" id="inputเริ่มต้นเดือน" name="#">
                                            </div>
                                            <div class="col-6">
                                                <p id="จำนวนรอบบิล">จำนวนรอบบิล</p>
                                                <input class="#" type="text" id="inputจำนวนรอบบิล" name="#">
                                            </div>
                                        </div>
                                        <hr id="hr-1">
                                        <div class="row">
                                            <div class="col-7">
                                                <p id="ครั้งที่">ครั้งที่ 1 &nbsp;&nbsp;ผ่อนค่าไฟฟ้าเดือน</p>
                                            </div>
                                            <div class="col-4">
                                                <input class="#" type="text" id="inputจำนวนรอบบิล" name="#">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <p id="เริ่มต้นเดือน">เริ่มต้นเดือน &nbsp;</p>
                                                <input class="#" type="text" id="inputเริ่มต้นเดือน" name="#">
                                            </div>
                                            <div class="col-6">
                                                <p id="จำนวนรอบบิล">จำนวนรอบบิล</p>
                                                <input class="#" type="text" id="inputจำนวนรอบบิล" name="#">
                                            </div>
                                        </div>
                                        <hr id="hr-1">
                                    </div>
                                    <div id="solution" class="tabcontent px-1 py-4">
                                        <div class="row">
                                            <div class="col-1"></div>
                                            <div class="col-2 pt-1">
                                                <div class="square">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <h1 id="squarenum" class="mx-auto my-auto">2</h1>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-9">
                                                <h3 id="แนวทางแก้ไข">แนวทางแก้ไข</h3>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <button class="collapsible">&nbsp;นำส่งรายได้แผ่นดิน
                                                    <label class="tickbox pr-0 pl-5 ml-5">
                                                        <input type="checkbox">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </button>
                                                <div class="content">
                                                    <div class="row py-2">
                                                        <div class="col-3">
                                                            <button id="addbutt">เพิ่ม</button>
                                                            <h3 id="ครั้งที่">ครั้งที่ 1</h3>
                                                        </div>
                                                        <div class="col-5">
                                                            <h3 id="จำนวนเงิน">จำนวนเงิน (ลบ.)</h3>
                                                            <input class="#" type="text" id="inputจำนวนเงิน" name="#">
                                                        </div>
                                                        <div class="col-4">
                                                            <h3 id="ชำระในเดือน">ชำระในเดือน</h3>
                                                            <input class="#" type="text" id="inputชำระในเดือน" name="#">
                                                        </div>
                                                        <div class="col-3">
                                                            <button id="addbutt">เพิ่ม</button>
                                                            <h3 id="ครั้งที่">ครั้งที่ 2</h3>
                                                        </div>
                                                        <div class="col-5">
                                                            <br />
                                                            <input class="#" type="text" id="inputจำนวนเงิน" name="#">
                                                        </div>
                                                        <div class="col-4">
                                                            <br />
                                                            <input class="#" type="text" id="inputชำระในเดือน" name="#">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <button class="collapsible">&nbsp;ค่าปรับการลงทุนต่ำกว่าแผน
                                                    <label class="tickbox pr-0 pl-5 ml-5">
                                                        <input type="checkbox">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </button>
                                                <div class="content">
                                                    <div class="row py-2">
                                                        <div class="col-3">
                                                            <button id="addbutt">เพิ่ม</button>
                                                            <h3 id="ครั้งที่">ครั้งที่ 1</h3>
                                                        </div>
                                                        <div class="col-5">
                                                            <h3 id="จำนวนเงิน">จำนวนเงิน (ลบ.)</h3>
                                                            <input class="#" type="text" id="inputจำนวนเงิน" name="#">
                                                        </div>
                                                        <div class="col-4">
                                                            <h3 id="ชำระในเดือน">ชำระในเดือน</h3>
                                                            <input class="#" type="text" id="inputชำระในเดือน" name="#">
                                                        </div>
                                                        <div class="col-3">
                                                            <button id="addbutt">เพิ่ม</button>
                                                            <h3 id="ครั้งที่">ครั้งที่ 2</h3>
                                                        </div>
                                                        <div class="col-5">
                                                            <br />
                                                            <input class="#" type="text" id="inputจำนวนเงิน" name="#">
                                                        </div>
                                                        <div class="col-4">
                                                            <br />
                                                            <input class="#" type="text" id="inputชำระในเดือน" name="#">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <button class="collapsible">&nbsp;ค่าซื้อกระแสไฟฟ้า EGAT
                                                    <label class="tickbox pr-0 pl-5 ml-5">
                                                        <input type="checkbox">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </button>
                                                <div class="content">
                                                    <div class="row py-2">
                                                        <div class="col-3">
                                                            <button id="addbutt">เพิ่ม</button>
                                                            <h3 id="ครั้งที่">ครั้งที่ 1</h3>
                                                        </div>
                                                        <div class="col-5">
                                                            <h3 id="จำนวนเงิน">จำนวนเงิน (ลบ.)</h3>
                                                            <input class="#" type="text" id="inputจำนวนเงิน" name="#">
                                                        </div>
                                                        <div class="col-4">
                                                            <h3 id="ชำระในเดือน">ชำระในเดือน</h3>
                                                            <input class="#" type="text" id="inputชำระในเดือน" name="#">
                                                        </div>
                                                        <div class="col-3">
                                                            <button id="addbutt">เพิ่ม</button>
                                                            <h3 id="ครั้งที่">ครั้งที่ 2</h3>
                                                        </div>
                                                        <div class="col-5">
                                                            <br />
                                                            <input class="#" type="text" id="inputจำนวนเงิน" name="#">
                                                        </div>
                                                        <div class="col-4">
                                                            <br />
                                                            <input class="#" type="text" id="inputชำระในเดือน" name="#">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <button class="collapsible">&nbsp;กู้กองทุนเงินประกัน
                                                    <label class="tickbox pr-0 pl-5 ml-5">
                                                        <input type="checkbox">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </button>
                                                <div class="content">
                                                    <div class="row px-4 py-2">
                                                        <div class="col-6">
                                                            <h3 id="กู้เดือน">กู้เดือน</h3>
                                                            <h3 id="วงเงิน">วงเงิน (ล้านบาท)</h3>
                                                            <input class="#" type="text" id="inputวงเงิน" name="#">
                                                            <h3 id="จำนวนงวด">จำนวนงวด</h3>
                                                            <input class="#" type="text" id="inputจำนวนงวด" name="#">
                                                        </div>
                                                        <div class="col-6">
                                                            <input class="#" type="text" id="inputกู้เดือน" name="#">
                                                            <h3 id="ชำระในเดือน">ชำระในเดือน</h3>
                                                            <input class="#" type="text" id="inputชำระในเดือน" name="#">
                                                            <h3 id="ดอกเบี้ย">ดอกเบี้ย (%)</h3>
                                                            <input class="#" type="text" id="inputดอกเบี้ย" name="#">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <button class="collapsible">&nbsp;กู้ OD
                                                    <label class="tickbox pr-0 pl-5 ml-5">
                                                        <input type="checkbox">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </button>
                                                <div class="content">
                                                    <div class="row px-4 py-2">
                                                        <div class="col-6">
                                                            <h3 id="กู้วันที่">กู้วันที่</h3>
                                                            <h3 id="วงเงิน">วงเงิน (ล้านบาท)</h3>
                                                            <input class="#" type="text" id="inputวงเงิน" name="#">
                                                            <h3 id="จำนวนงวด">จำนวนงวด</h3>
                                                            <input class="#" type="text" id="inputจำนวนงวด" name="#">
                                                        </div>
                                                        <div class="col-6">
                                                            <input class="#" type="text" id="inputกู้เดือน" name="#">
                                                            <h3 id="ชำระในเดือน">ชำระในเดือน</h3>
                                                            <input class="#" type="text" id="inputชำระในเดือน" name="#">
                                                            <h3 id="ดอกเบี้ย">ดอกเบี้ย (%)</h3>
                                                            <input class="#" type="text" id="inputดอกเบี้ย" name="#">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <button class="collapsible">&nbsp;การจัดหาเงินกู้หนี้สาธารณะ
                                                    <label class="tickbox pr-0 pl-5 ml-5">
                                                        <input type="checkbox">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </button>
                                                <div class="content">
                                                    <div class="row px-4 py-2">
                                                        <div class="col-6">
                                                            <h3 id="กู้วันที่">กู้วันที่</h3>
                                                            <h3 id="วงเงิน">วงเงิน (ล้านบาท)</h3>
                                                            <input class="#" type="text" id="inputวงเงิน" name="#">
                                                            <h3 id="จำนวนงวด">จำนวนงวด</h3>
                                                            <input class="#" type="text" id="inputจำนวนงวด" name="#">
                                                        </div>
                                                        <div class="col-6">
                                                            <input class="#" type="text" id="inputกู้เดือน" name="#">
                                                            <h3 id="ชำระในเดือน">ชำระในเดือน</h3>
                                                            <input class="#" type="text" id="inputชำระในเดือน" name="#">
                                                            <h3 id="ดอกเบี้ย">ดอกเบี้ย (%)</h3>
                                                            <input class="#" type="text" id="inputดอกเบี้ย" name="#">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <button class="collapsible">&nbsp;ลดค่าใช้จ่าย
                                                    <label class="tickbox pr-0 pl-5 ml-5">
                                                        <input type="checkbox">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </button>
                                                <div class="content">
                                                    <div class="row py-2">
                                                        <div class="col-2">
                                                            <h3 id="ค่า">ค่า</h3>
                                                        </div>
                                                        <div class="col-10">
                                                            <select id="ค่าสินค้าและบริการ" class="w-100">
                                                                <option value="ค่าสินค้าและบริการ">ค่าสินค้าและบริการ
                                                                </option>
                                                                <option value="#">#</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="row py-2">
                                                        <div class="col-3">
                                                            <button id="addbutt">เพิ่ม</button>
                                                            <h3 id="ครั้งที่">ครั้งที่ 1</h3>
                                                        </div>
                                                        <div class="col-5">
                                                            <h3 id="จำนวนเงิน">จำนวนเงิน (ลบ.)</h3>
                                                            <input class="#" type="text" id="inputจำนวนเงิน" name="#">
                                                        </div>
                                                        <div class="col-4">
                                                            <h3 id="ชำระในเดือน">ชำระในเดือน</h3>
                                                            <input class="#" type="text" id="inputชำระในเดือน" name="#">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="measure" class="tabcontent px-1 py-4">
                                        <div class="row">
                                            <div class="col-1"></div>
                                            <div class="col-2 pt-1">
                                                <div class="square">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <h1 id="squarenum" class="mx-auto my-auto">7</h1>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-9">
                                                <h3 id="มาตรการช่วยเหลือ">มาตรการช่วยเหลือ</h3>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <button class="collapsible">&nbsp;มาตรการที่ 1
                                                    <label class="tickbox pr-0 pl-5 ml-5">
                                                        <input type="checkbox">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </button>
                                                <div class="content">
                                                    <div class="row py-2">
                                                        <div class="col-12">
                                                            <h3 id="ส่วนลดค่าใช้ไฟ">ส่วนลดค่าใช้ไฟ</h3>
                                                        </div>
                                                        <div class="col-3">
                                                            <h3 id="ร้อยละ">ร้อยละ</h3>
                                                        </div>
                                                        <div class="col-9 w-100">
                                                            <input class="#" type="text" id="inputร้อยละ" name="#">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <p id="เริ่มต้นเดือน">เริ่มต้นเดือน &nbsp;</p>
                                                            <input class="#" type="text" id="inputเริ่มต้นเดือน"
                                                                name="#">
                                                        </div>
                                                        <div class="col-6">
                                                            <p id="จำนวนรอบบิล">จำนวนรอบบิล</p>
                                                            <input class="#" type="text" id="inputจำนวนรอบบิล" name="#">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <button class="collapsible">&nbsp;มาตรการที่ 2
                                                    <label class="tickbox pr-0 pl-5 ml-5">
                                                        <input type="checkbox">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </button>
                                                <div class="content">
                                                    <div class="row py-2">
                                                        <div class="col-12">
                                                            <h3 id="ส่วนลดค่าใช้ไฟ">ส่วนลดค่าใช้ไฟ</h3>
                                                        </div>
                                                        <div class="col-3">
                                                            <h3 id="ร้อยละ">ร้อยละ</h3>
                                                        </div>
                                                        <div class="col-9 w-100">
                                                            <input class="#" type="text" id="inputร้อยละ" name="#">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <p id="เริ่มต้นเดือน">เริ่มต้นเดือน &nbsp;</p>
                                                            <input class="#" type="text" id="inputเริ่มต้นเดือน"
                                                                name="#">
                                                        </div>
                                                        <div class="col-6">
                                                            <p id="จำนวนรอบบิล">จำนวนรอบบิล</p>
                                                            <input class="#" type="text" id="inputจำนวนรอบบิล" name="#">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <button class="collapsible">&nbsp;มาตรการที่ 3
                                                    <label class="tickbox pr-0 pl-5 ml-5">
                                                        <input type="checkbox">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </button>
                                                <div class="content">
                                                    <div class="row py-2">
                                                        <div class="col-12">
                                                            <h3 id="ส่วนลดค่าใช้ไฟ">ส่วนลดค่าใช้ไฟ</h3>
                                                        </div>
                                                        <div class="col-3">
                                                            <h3 id="ร้อยละ">ร้อยละ</h3>
                                                        </div>
                                                        <div class="col-9 w-100">
                                                            <input class="#" type="text" id="inputร้อยละ" name="#">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <p id="เริ่มต้นเดือน">เริ่มต้นเดือน &nbsp;</p>
                                                            <input class="#" type="text" id="inputเริ่มต้นเดือน"
                                                                name="#">
                                                        </div>
                                                        <div class="col-6">
                                                            <p id="จำนวนรอบบิล">จำนวนรอบบิล</p>
                                                            <input class="#" type="text" id="inputจำนวนรอบบิล" name="#">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <button class="collapsible">&nbsp;มาตรการที่ 4
                                                    <label class="tickbox pr-0 pl-5 ml-5">
                                                        <input type="checkbox">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </button>
                                                <div class="content">
                                                    <div class="row py-2">
                                                        <div class="col-12">
                                                            <h3 id="ส่วนลดค่าใช้ไฟ">ส่วนลดค่าใช้ไฟ</h3>
                                                        </div>
                                                        <div class="col-3">
                                                            <h3 id="ร้อยละ">ร้อยละ</h3>
                                                        </div>
                                                        <div class="col-9 w-100">
                                                            <input class="#" type="text" id="inputร้อยละ" name="#">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <p id="เริ่มต้นเดือน">เริ่มต้นเดือน &nbsp;</p>
                                                            <input class="#" type="text" id="inputเริ่มต้นเดือน"
                                                                name="#">
                                                        </div>
                                                        <div class="col-6">
                                                            <p id="จำนวนรอบบิล">จำนวนรอบบิล</p>
                                                            <input class="#" type="text" id="inputจำนวนรอบบิล" name="#">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <button class="collapsible">&nbsp;มาตรการที่ 5
                                                    <label class="tickbox pr-0 pl-5 ml-5">
                                                        <input type="checkbox">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </button>
                                                <div class="content">
                                                    <div class="row py-2">
                                                        <div class="col-12">
                                                            <h3 id="ส่วนลดค่าใช้ไฟ">ส่วนลดค่าใช้ไฟ</h3>
                                                        </div>
                                                        <div class="col-3">
                                                            <h3 id="ร้อยละ">ร้อยละ</h3>
                                                        </div>
                                                        <div class="col-9 w-100">
                                                            <input class="#" type="text" id="inputร้อยละ" name="#">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <p id="เริ่มต้นเดือน">เริ่มต้นเดือน &nbsp;</p>
                                                            <input class="#" type="text" id="inputเริ่มต้นเดือน"
                                                                name="#">
                                                        </div>
                                                        <div class="col-6">
                                                            <p id="จำนวนรอบบิล">จำนวนรอบบิล</p>
                                                            <input class="#" type="text" id="inputจำนวนรอบบิล" name="#">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <button class="collapsible">&nbsp;มาตรการที่ 6
                                                    <label class="tickbox pr-0 pl-5 ml-5">
                                                        <input type="checkbox">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </button>
                                                <div class="content">
                                                    <div class="row py-2">
                                                        <div class="col-12">
                                                            <h3 id="ส่วนลดค่าใช้ไฟ">ส่วนลดค่าใช้ไฟ</h3>
                                                        </div>
                                                        <div class="col-3">
                                                            <h3 id="ร้อยละ">ร้อยละ</h3>
                                                        </div>
                                                        <div class="col-9 w-100">
                                                            <input class="#" type="text" id="inputร้อยละ" name="#">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <p id="เริ่มต้นเดือน">เริ่มต้นเดือน &nbsp;</p>
                                                            <input class="#" type="text" id="inputเริ่มต้นเดือน"
                                                                name="#">
                                                        </div>
                                                        <div class="col-6">
                                                            <p id="จำนวนรอบบิล">จำนวนรอบบิล</p>
                                                            <input class="#" type="text" id="inputจำนวนรอบบิล" name="#">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <button class="collapsible">&nbsp;มาตรการที่ 7
                                                    <label class="tickbox pr-0 pl-5 ml-5">
                                                        <input type="checkbox">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </button>
                                                <div class="content">
                                                    <div class="row py-2">
                                                        <div class="col-12">
                                                            <h3 id="ส่วนลดค่าใช้ไฟ">ส่วนลดค่าใช้ไฟ</h3>
                                                        </div>
                                                        <div class="col-3">
                                                            <h3 id="ร้อยละ">ร้อยละ</h3>
                                                        </div>
                                                        <div class="col-9 w-100">
                                                            <input class="#" type="text" id="inputร้อยละ" name="#">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <p id="เริ่มต้นเดือน">เริ่มต้นเดือน &nbsp;</p>
                                                            <input class="#" type="text" id="inputเริ่มต้นเดือน"
                                                                name="#">
                                                        </div>
                                                        <div class="col-6">
                                                            <p id="จำนวนรอบบิล">จำนวนรอบบิล</p>
                                                            <input class="#" type="text" id="inputจำนวนรอบบิล" name="#">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <script>
                                            var coll = document.getElementsByClassName("collapsible");
                                            var i;

                                            for (i = 0; i < coll.length; i++) {
                                                coll[i].addEventListener("click", function () {
                                                    this.classList.toggle("dropactive");
                                                    var content = this.nextElementSibling;
                                                    if (content.style.maxHeight) {
                                                        content.style.maxHeight = null;
                                                    } else {
                                                        content.style.maxHeight = content.scrollHeight +
                                                            "px";
                                                    }
                                                });
                                            }
                                        </script>
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <script>
        function openSideBar() {
            document.getElementById("mySidebar").style.width = "28%";
        }

        function closeSideBar() {
            document.getElementById("mySidebar").style.width = "0";
        }

        function openTab(evt, tabName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <link rel="stylesheet" href="js/jquery-3.3.1.slim.min.js">
    <link rel="stylesheet" href="js/popper.min.js">
    <link rel="stylesheet" href="js/bootstrap.min.js">
</body>

</html>