body {
    font-family: "KanitRegular";
    background-color: #f7f8fc;
}

.card {
    right: 0;
    border-radius: 8px;
    border-color: transparent;
    background-color: #ffffff;
}

.openbtn {
    width: 248px;
    height: 36px;
    border-radius: 8px;
    background-color: #edf1fb;
    text-align: center;
    font-family: "KanitRegular";
    font-size: 21px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    color: #121212;
}

.openvbtn {
    width: 300px;
    height: 36px;
    border-radius: 8px;
    border-color: transparent;
    background-color: #edf1fb;
    text-align: center;
    font-family: "KanitRegular";
    font-size: 21px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    color: #242424;
}

#การเลื่อนชำระค่าไฟ,
#แนวทางแก้ไข,
#มาตรการช่วยเหลือ {
    font-family: "KanitRegular";
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.32px;
    color: #000000;
}

#ผู้ใช้ไฟฟ้าทั้งหมด,
#นำส่งรายได้แผ่นดิน {
    font-family: "KanitRegular";
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.21px;
    color: #1f1722;
}

#เลื่อนชำระเงิน,
#รอบบิลที่คาดว่าไม่ชำระเงิน,
#เริ่มต้นเดือน,
#จำนวนรอบบิล,
#ครั้งที่,
#ผ่อนค่าไฟฟ้าเดือนม #จำนวนเงิน,
#ชำระในเดือน,
#กู้เดือน,
#วงเงิน,
#จำนวนงวด,
#ดอกเบี้ย,
#กู้วันที่,
#ค่า,
#ส่วนลดค่าใช้ไฟ,
#ร้อยละ {
    font-family: "KanitRegular";
    font-size: 12px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.16px;
    color: #1f1722;
}

#inputเลื่อนชำระเงิน,
#inputเริ่มต้นเดือน,
#inputจำนวนรอบบิล,
#inputครั้งที่,
#inputจำนวนเงิน,
#inputชำระในเดือน,
#inputกู้เดือน,
#inputวงเงิน,
#inputจำนวนงวด,
#inputดอกเบี้ย,
#ค่าสินค้าและบริการ,
#inputร้อยละ {
    width: 100%;
    height: 24px;
    border-radius: 2.5px;
    border: solid 1px #979797;
    font-family: "KanitRegular";
    font-size: 12px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.16px;
    color: #1f1722;
}

#hr-1 {
    width: 240px;
    height: 1px;
    border: solid 2px #edf1fb;
    background-color: #edf1fb;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    right: 0;
    border-radius: 8px;
    border-color: transparent;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.1s;
}

.tabcontent {
    height: 70vh;
    overflow-y: scroll;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #6d6c6d;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #1f1722;
}

.sidebar .closebtn {
    position: absolute;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    overflow: hidden;
    font-size: 20px;
    cursor: pointer;
    background-color: #edf1fb;
    color: #121212;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #edf1fb;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}

/* Style the tab */
.tab {
    overflow: hidden;
    border-bottom: 3px solid #f7f8fc;
    background-color: white;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color: #6d6c6d;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: white;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: white;
    color: black;
    border-bottom: 4px solid #692dff;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid transparent;
    border-top: none;
}

.square {
    width: 28px;
    height: 28px;
    border-radius: 2px;
    background-color: #865cff;
}

#squarenum {
    width: 13px;
    height: 35px;
    font-family: "KanitRegular";
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    text-align: center;
    letter-spacing: 0.32px;
    color: #ffffff;
}

.collapsible {
    background-color: transparent;
    font-family: "KanitRegular";
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.21px;
    color: #1f1722;
}

.dropactive,
.collapsible:hover {
    background-color: transparent;
}

.collapsible:after {
    content: '\02C3';
    float: left;
    color: #807e7e;
}

.dropactive:after {
    content: "\02C5";
    float: left;
    color: #807e7e;
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: transparent;
    background-color: transparent;
    font-family: "KanitRegular";
    cursor: pointer;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.21px;
    color: #1f1722;
}

#addbutt {
    width: 44px;
    height: 24px;
    border-radius: 2.5px;
    background-color: #865cff;
    border-color: transparent;
    font-family: "KanitRegular";
    font-size: 12px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.16px;
    color: #ffffff;
}

#จำนวนเงิน {
    font-family: "KanitRegular";
    font-size: 12px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.16px;
    color: #1f1722;
}

/* The tickbox */
.tickbox {
    float: right;
    margin-top: 1.5%;
    right: 10%;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.tickbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    height: 16px;
    width: 16px;
    background-color: white;
    border: 2.5px solid #692dff;
    border-radius: 2.5px;
}

/* On mouse-over, add a grey background color */
.tickbox:hover input~.checkmark {
    background-color: white;
    border: 2.5px solid #692dff;
    border-radius: 2.5px;

}

/* When the checkbox is checked, add a blue background */
.tickbox input:checked~.checkmark {
    border: 2.5px solid #692dff;
    background-color: #692dff;
    border-radius: 2.5px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.tickbox input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.tickbox .checkmark:after {
    top: 0;
    left: 3px;
    bottom: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}